$background: #2D2D2D;
$white: #ffffff;
$pink: #F3477A;

$success: rgba(39, 174, 96, 0.2);
$error: rgba(235, 87, 87, 0.2);
$warning: rgba(242, 153, 74, 0.20);

$text-white: #ffffff;
$text-success: #27AE60;
$text-info: #56CCF2;
$text-error: #EB5757;
$text-warning: #F2994A;
$text-bold: 700;
$text-semibold: 500;

$text-size-xl: 36px;
$text-size-lg: 18px;
$text-size-md: 14px;
$text-size-sm: 12px;

$desktop: 1024px;
$tablet: 768px;
$mobile: 420px;